<app-navbar></app-navbar>

<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link label="Admins" (click)="showadmins($event)">Admins</a>
    <a mat-tab-link label="Clients" (click)="showclients($event)">Clients</a>
    <a mat-tab-link label="Drivers" (click)="showdrivers($event)">Drivers</a>
    <a mat-tab-link label="Cashiers" (click)="showcashiers($event)">Cashiers</a>
</nav>