
<app-navbar></app-navbar>

<div class="page container">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Cluj" #input>
    </mat-form-field>

    <div class="mat-elevation-z8" id='data-table'>
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Database Id Column - hidden  -->
            <ng-container matColumnDef="invoice_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none;" class="table-column">
                    Database
                    ID</th>
                <td mat-cell *matCellDef="let row" style="display: none;"> {{row.invoice_id}} </td>
            </ng-container>


            <!-- Description Column -->
            <ng-container matColumnDef="orderDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Description </th>
                <td mat-cell *matCellDef="let row"> {{row.order_description}} </td>
            </ng-container>

            <!-- Exp Client Column -->
            <ng-container matColumnDef="expClient">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Sender </th>
                <td mat-cell *matCellDef="let row"> {{row.exp_client_id}} </td>
            </ng-container>

            <!-- Dest Client Column -->
            <ng-container matColumnDef="destClient">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Reciever </th>
                <td mat-cell *matCellDef="let row"> {{row.dest_client_id}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="orderStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.order_status}} </td>
            </ng-container>

            <!-- Creation Date Column -->
            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Creation Date </th>
                <td mat-cell *matCellDef="let row"> {{row.creation_date}} </td>
            </ng-container>

            <!-- Delivery Date Column -->
            <ng-container matColumnDef="deliveryDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Delivery Date </th>
                <td mat-cell *matCellDef="let row"> {{row.delivery_date}} </td>
            </ng-container>

            <!-- Modify Date Column -->
            <ng-container matColumnDef="modifyDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Modify Date </th>
                <td mat-cell *matCellDef="let row"> {{row.modify_date}} </td>
            </ng-container>

            <!-- Cashier Column -->
            <ng-container matColumnDef="cashierId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Cashier </th>
                <td mat-cell *matCellDef="let row"> {{row.cashier_id}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (contextmenu)="onRightClick($event, {content: row})" class="table-row"></tr>
        </table>
        <div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
            [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

        <mat-menu #rightMenu="matMenu">
            <ng-template matMenuContent>
                <button mat-menu-item (click)="viewInvoice()">View</button>
                <button mat-menu-item *ngIf="userRole=='admin' || userRole=='cashier'" (click)="editInvoice()">Edit</button>
                <button mat-menu-item (click)="exportInvoice()">Export as PDF</button>
            </ng-template>
        </mat-menu>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>

    <div>
        <button class="option-button" mat-button *ngIf="userRole=='admin' || userRole=='cashier'" (click)='createInvoice()'>Create new invoice</button>
    </div>

    <div *ngIf="userRole=='client'">
        <button class="option-button" mat-button (click)='showAll()'>Show All Invoices</button>
        <button class="option-button" mat-button (click)='sentInvoices()'>Sent Invoices</button>
        <button class="option-button" mat-button (click)='receivedInvoices()'>Received Invoices</button>
    </div>
</div>