<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>First Name:</mat-label>
        <input matInput placeholder="Ex. Maria" [(ngModel)]="firstName" name="firstName">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Last Name:</mat-label>
        <input matInput placeholder="Ex. Pop" [(ngModel)]="lastName" name="lastName">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Password:</mat-label>
        <input matInput placeholder="Ex. ***" [(ngModel)]="password" name="password">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Address:</mat-label>
        <input matInput placeholder="Ex. str." [(ngModel)]="address" name="address">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>ZipCode:</mat-label>
        <input matInput placeholder="Ex. 405100" [(ngModel)]="zipCode" name="zipCode">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>City:</mat-label>
        <input matInput placeholder="Ex. Cluj-Napoca" [(ngModel)]="city" name="city">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>County:</mat-label>
        <input matInput placeholder="Ex. Cluj" [(ngModel)]="county" name="county">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Phone Number:</mat-label>
        <input matInput placeholder="Ex. 074..." [(ngModel)]="phoneNumber" name="phoneNumber">
    </mat-form-field>
    <br>
    
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='updateClient()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>
