<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>First Name:</mat-label>
        <input matInput placeholder="Ex. Maria" [(ngModel)]="firstName" name="firstName">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Last Name:</mat-label>
        <input matInput placeholder="Ex. Pop" [(ngModel)]="lastName" name="lastName">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Username:</mat-label>
        <input matInput placeholder="Ex. pop" [(ngModel)]="username" name="username">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Password:</mat-label>
        <input matInput placeholder="Ex. ***" [(ngModel)]="password" name="password">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Car:</mat-label>
        <input matInput placeholder="Ex. Tesla" [(ngModel)]="car" name="car">
    </mat-form-field>
    <br>
    
    
    <div class="add-dialog-buttons">
        <button mat-button (click)='updateDriver()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>

