.example-card {
    max-width: 400px;
    background-color: mediumaquamarine;
    margin: auto;
    margin-top: 4%;
  }
  
.mat-card-subtitle{
    text-align: center;
}

.mat-card-title{
    text-align: center;
}
