<app-navbar></app-navbar>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><strong>CASHIER</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://img2.pngio.com/chip-ragsdale-at-checkout-counter-cashier-vector-transparent-png-cashier-png-820_639.png">
    <mat-card-content>
      <p><strong>USERNAME: </strong>{{username}}</p>
      <p><strong>FIRSTNAME: </strong>{{firstName}}</p>
      <p><strong>LASTNAME: </strong>{{lastName}}</p>
    </mat-card-content>
  </mat-card>