<app-navbar></app-navbar>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><strong>ADMIN</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://png.pngitem.com/pimgs/s/556-5569981_data-clipart-administrator-system-administrator-clipart-hd-png.png">
    <mat-card-content>
      <p><strong>USERNAME: </strong>{{username}}</p>
      <p><strong>FIRSTNAME: </strong>{{firstName}}</p>
      <p><strong>LASTNAME: </strong>{{lastName}}</p>
    </mat-card-content>
  </mat-card>