<div ngNativeValidate>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngIf="userRole=='admin' || userRole=='cashier'">Current Invoice (id): {{invoice_id}} </mat-list-item>
        <mat-list-item role="listitem">Return Invoice (id): {{return_id}} </mat-list-item>
        <mat-list-item role="listitem">Sender: {{exp_client_id}} </mat-list-item>
        <mat-list-item role="listitem">Reciever: {{dest_client_id}} </mat-list-item>
        <mat-list-item role="listitem">Order Description: {{order_description}} </mat-list-item>
        <mat-list-item role="listitem">Order Cost: {{order_cost}} </mat-list-item>
        <mat-list-item role="listitem">Order Weight: {{order_weight}} </mat-list-item>
        <mat-list-item role="listitem">Creation Date: {{creation_date}} </mat-list-item>
        <mat-list-item role="listitem">Order Status: {{order_status}} </mat-list-item>
        <mat-list-item role="listitem">Deposit ID: {{deposit_id}} </mat-list-item>
        <mat-list-item role="listitem">Cashier: {{cashier_id}} </mat-list-item>
        <mat-list-item role="listitem">Delivery Date: {{delivery_date}} </mat-list-item>
        <mat-list-item role="listitem">Modify Date: {{modify_date}} </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-button (click)='closeDialog()'>Close</button>
        </mat-list-item>
    </mat-list>
</div>