<div ngNativeValidate>  
    <mat-form-field class="example-full-width">
        <mat-label>County:</mat-label>
        <input matInput placeholder="Ex. Cluj" [(ngModel)]="county" name="county" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Address:</mat-label>
        <input matInput placeholder="Ex. str..." [(ngModel)]="address" name="address" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='openVerificationDialog()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>
