<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>First Name:</mat-label>
        <input matInput placeholder="Ex. Ana" [(ngModel)]="firstname" name="firstname" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Last Name:</mat-label>
        <input matInput placeholder="Ex. Pop" [(ngModel)]="lastname" name="lastname" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Username:</mat-label>
        <input matInput placeholder="Ex. username" [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Password:</mat-label>
        <input matInput placeholder="Ex. pass1234!@#$" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='createCashier()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>

