<app-navbar></app-navbar>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><strong>DRIVER</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://www.nicepng.com/png/detail/443-4435978_delivery-courier-royalty-free-illustration-courier-png.png">
    <mat-card-content>
      <p><strong>USERNAME: </strong>{{username}}</p>
      <p><strong>FIRSTNAME: </strong>{{firstname}}</p>
      <p><strong>LASTNAME: </strong>{{lastname}}</p>
      <p><strong>CAR: </strong>{{car}}</p>
    </mat-card-content>
  </mat-card>