
<app-navbar></app-navbar>

<div class="page container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex.  Cluj" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" id='data-table'>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID ROUTE Column -->
      <ng-container matColumnDef="idRoute">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column" style="display: none;"> IdRoute </th>
        <td mat-cell *matCellDef="let element" class="table-column-content" style="display: none;"> {{element.idRoute}} </td>
      </ng-container>

      <!-- ID DEPOSIT Column -->
      <ng-container matColumnDef="idDeposit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"style="display: none;"> IdDeposit </th>
        <td mat-cell *matCellDef="let element" class="table-column-content" style="display: none;"> {{element.idDeposit}} </td>
      </ng-container>

      <!-- ID DRIVER Column -->
      <ng-container matColumnDef="idDriver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Driver </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.idDriver}} </td>
      </ng-container>

      <!-- EXPEDITION COUNTY Column -->
      <ng-container matColumnDef="expCounty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Expedition County </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.expCounty}} </td>
      </ng-container>

      <!-- DESTINATION COUNTY Column -->
      <ng-container matColumnDef="destCounty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Destination County </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.destCounty}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  </div>

  <div>
    <button mat-button class="option-button" *ngIf="userRole=='admin'" (click)='createRoutes()'>Create new route</button>
  </div>
</div>