<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>Return Invoice (id):</mat-label>
        <input matInput placeholder="Ex. 1" [(ngModel)]="return_id" name="return_id" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" *ngIf="userRole=='admin'">
        <mat-label>Order Description:</mat-label>
        <input matInput placeholder="Ex. Fragile" [(ngModel)]="order_description" name="order_description" value="">
    </mat-form-field>
    <br *ngIf="userRole=='admin'">
    <mat-form-field class="example-full-width" *ngIf="userRole=='admin'">
        <mat-label>Order Cost:</mat-label>
        <input matInput placeholder="Ex. 1" [(ngModel)]="order_cost" name="order_cost" value="">
    </mat-form-field>
    <br *ngIf="userRole=='admin'">
    <mat-form-field class="example-full-width" *ngIf="userRole=='admin'">
        <mat-label>Deposit (id):</mat-label>
        <input matInput placeholder="Ex. 1" [(ngModel)]="deposit_id" name="deposit_id" value="">
    </mat-form-field>
    <br *ngIf="userRole=='admin'">
    <mat-form-field class="example-full-width">
        <mat-label>Delivery Date (yyyy-mm-dd):</mat-label>
        <input matInput placeholder="Ex. 2020-12-20" [(ngModel)]="delivery_date" name="delivery_date" value="">
    </mat-form-field>
    <br>
    <div>
        <label>Order Status:</label>
        <select class="form-control" id="allocation-algorithm" [(ngModel)]="order_status" name="order_status">
            <option [ngValue]="order_status">{{order_status}}</option>
            <option>{{(order_status==="Processing") ? "Delivered" : "Processing"}}</option>
        </select>
    </div>
    
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='updateInvoice()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>