<div ngNativeValidate>  
    <mat-form-field class="example-full-width">
        <mat-label>Driver:</mat-label>
        <input matInput placeholder="Ex. username" [(ngModel)]="driver" name="driver" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Sender deposit:</mat-label>
        <input matInput placeholder="Ex. Cluj" [(ngModel)]="expedition" name="expedition" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Destination deposit:</mat-label>
        <input matInput placeholder="Ex. Sibiu" [(ngModel)]="destination" name="destination" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='createRoute()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>
