<app-navbar></app-navbar>

<div class="page container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex.  Cluj" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" id='data-table'>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- database id Column - hidden  -->
      <ng-container matColumnDef="depositID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none;" class="table-column"> Database ID
        </th>
        <td mat-cell *matCellDef="let element" style="display: none;"> {{element.depositID}} </td>
      </ng-container>

      <!-- County Column -->
      <ng-container matColumnDef="county">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> County </th>
        <td mat-cell *matCellDef="let element"> {{element.county}} </td>
      </ng-container>

      <!-- Adress Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Adress </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-button mat-row *matRowDef="let row; columns: displayedColumns;"
        (contextmenu)="onRightClick($event, {content: row})" class="table-row"></tr>

    </table>
    <div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
      [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

    <mat-menu #rightMenu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="editDeposit()">Edit</button>
        <button mat-menu-item
          (click)="setDepositStatus()">{{(statusDeposit === "active") ? "Deactivate" : "Activate"}}</button>
      </ng-template>
    </mat-menu>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div>
    <button class="option-button" mat-button (click)='createDeposit()'>Create new deposit</button>
  </div>
</div>