<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>Sender (username):</mat-label>
        <input matInput placeholder="Ex. username" [(ngModel)]="exp_client_id" name="exp_client_id" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Reciever (username):</mat-label>
        <input matInput placeholder="Ex. username" [(ngModel)]="dest_client_id" name="dest_client_id" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Order Description:</mat-label>
        <input matInput placeholder="Ex. Fragile" [(ngModel)]="order_description" name="order_description">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Order Cost:</mat-label>
        <input matInput placeholder="Ex. 1" [(ngModel)]="order_cost" name="order_cost" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Order Weight:</mat-label>
        <input matInput placeholder="Ex. 1" [(ngModel)]="order_weight" name="order_weight" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Deposit (id):</mat-label>
        <input matInput placeholder="Ex. 1" [(ngModel)]="deposit_id" name="deposit_id" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Delivery Date (yyyy-mm-dd):</mat-label>
        <input matInput placeholder="Ex. 2020-12-20" [(ngModel)]="delivery_date" name="delivery_date" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" *ngIf="userRole!='cashier'">
        <mat-label>Cashier (username):</mat-label>
        <input matInput placeholder="Ex. username" [(ngModel)]="cashier_id" name="cashier_id" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='createInvoice()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>