<p> Are you sure you want to create a deposit?</p>
<div class="add-dialog-buttons">
    <button mat-button [mat-dialog-close]="true">Yes</button>

    <button mat-button  [mat-dialog-close]="false">No</button>

</div>