<app-groups-root></app-groups-root>

<div class="page container">
    <div class="filter">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <div class="mat-elevation-z8" id='data-table'>
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- database id Column - hidden  -->
            <ng-container matColumnDef="driverID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none;" class="table-column">
                    Database
                    ID
                </th>
                <td mat-cell *matCellDef="let element" style="display: none;"> {{element.driverID}} </td>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> First Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- Username Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>

            <!-- Car Column -->
            <ng-container matColumnDef="car">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Car </th>
                <td mat-cell *matCellDef="let element"> {{element.car}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-button mat-row *matRowDef="let row; columns: displayedColumns;"
                (contextmenu)="onRightClick($event, {content: row})" class="table-row"></tr>

        </table>

        <div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
            [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

        <mat-menu #rightMenu="matMenu">
            <ng-template matMenuContent>
                <button mat-menu-item id="b1" (click)="editDriver()">Edit</button>
            </ng-template>
        </mat-menu>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <div class="dialog">
        <button class="option-button" mat-raised-button (click)='createDriver()' type="button">Create</button>
    </div>
</div>