table {
  width: 100%;
}
#data-table{
  border: 10px;
  border-color: lightslategray;
  margin: 10px auto;  
}
.table-column{
  background-color:mediumaquamarine;
  font-size: medium;
  text-indent: 20px;
}
.table-row{
  text-indent: 20px;
}
.table-row:hover{
  background-color:rgb(202, 208, 214);
}
.option-button {
  background-color: #ffb793;
  padding: 5px 10px 5px;
  margin-right: 20px;
}