<mat-toolbar class="mat-elevation-z6">
    <span><mat-icon>emoji_transportation</mat-icon>RoDelivery Management</span>
    <div class="spacer"></div>
    <a mat-button (click)="home()">Home</a>
    <a mat-button *ngIf="userRole=='admin' || userRole=='client' || userRole=='cashier'" (click)="invoices()">Records and Package Invoices</a>
    <a mat-button *ngIf="userRole=='admin'" (click)="groups()">Groups and Users</a>
    <a mat-button *ngIf="userRole=='admin'" (click)="deposits()">Deposits</a>
    <a mat-button *ngIf="userRole=='admin' || userRole=='driver'" (click)="routes()">Routes</a>
    <a mat-raised-button (click)="logout()">Logout</a>
</mat-toolbar>
