.login-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.username {
    width: 236px;
}

.login-title {
    width: 236px;
    font-size: medium;
}

mat-card {
    background-color:mediumaquamarine;
}