<div class="login-container">
    <mat-card>
        <div class="login-title">Please Login! <br> Or create a new account!</div>
    </mat-card>
    <br>
    <form>
        <mat-form-field appearance="fill" class="input username">
            <mat-label>Enter your username</mat-label>
            <input matInput [(ngModel)]="username" name="username" type="text" placeholder="Username">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <button mat-button type="button" (click)="login($event)">Login</button>
        <button mat-button type="button" (click)="register($event)">Register</button>
    </form>
</div>