<app-navbar></app-navbar>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><strong>CLIENT</strong><button class="option-button" mat-button (click)='editProfile()'><strong>EDIT
          PROFILE</strong></button></mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://www.pngitem.com/pimgs/m/255-2558076_customer-clipart-client-happy-customers-cartoon-png-transparent.png">
  <mat-card-content>
    <p><strong>USERNAME: </strong>{{username}}</p>
    <p><strong>FIRST NAME: </strong>{{firstName}}</p>
    <p><strong>LAST NAME: </strong>{{lastName}}</p>
    <p><strong>PHONE NUMBER: </strong>{{phoneNumber}}</p>
    <p><strong>COUNTY: </strong>{{county}}</p>
    <p><strong>CITY: </strong>{{city}}</p>
    <p><strong>ADDRESS: </strong>{{address}}</p>
    <p><strong>ZIP CODE: </strong>{{zipCode}}</p>
  </mat-card-content>
</mat-card>
