<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>County:</mat-label>
        <input matInput placeholder="Ex. Cluj" [(ngModel)]="county" name="county">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Address:</mat-label>
        <input matInput placeholder="Ex. str..." [(ngModel)]="address" name="address">
    </mat-form-field>
    <br>
    <div>
        <label>Status:</label>
        <select class="form-control" id="allocation-algorithm" [(ngModel)]="status" name="status">
            <option [ngValue]="status">{{status}}</option>
            <option>{{(status==="active") ? "inactive" : "active"}}</option>

        </select>
    </div>

    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='updateDeposit()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>