<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>First Name:</mat-label>
        <input matInput placeholder="Ex. Ana" [(ngModel)]="firstname" name="firstname" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Last Name:</mat-label>
        <input matInput placeholder="Ex. Pop" [(ngModel)]="lastname" name="lastname" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Address:</mat-label>
        <input matInput placeholder="Ex. str. Macesului nr. 3" [(ngModel)]="address" name="address" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Zipcode:</mat-label>
        <input matInput placeholder="Ex. 400275" [(ngModel)]="zipCode" name="zipCode" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Phone number:</mat-label>
        <input matInput placeholder="Ex. 123456789" [(ngModel)]="phoneNumber" name="phoneNumber" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>City:</mat-label>
        <input matInput placeholder="Ex. Cluj-Napoca" [(ngModel)]="city" name="city" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>County:</mat-label>
        <input matInput placeholder="Ex. Cluj" [(ngModel)]="county" name="county" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Username:</mat-label>
        <input matInput placeholder="Ex. username" [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Password:</mat-label>
        <input matInput placeholder="Ex. pass1234!@#$" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='createClient()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>
