.register-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 236px;
}

.register-title {
    width: 236px;
    font-size: medium;
}

mat-card {
    background-color:mediumaquamarine;
}