<div class="register-container">
    <mat-card>
        <div class="register-title">Create a new account! <br> Or login if you already have one!</div>
    </mat-card>
    <br>
    <form>
        <mat-form-field appearance="fill" class="input firstname">
            <mat-label>Enter your first name</mat-label>
            <input matInput [(ngModel)]="registeredUser.firstName" name="firstName" type="text" placeholder="Ex. Ana" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input lastname">
            <mat-label>Enter your last name</mat-label>
            <input matInput [(ngModel)]="registeredUser.lastName" name="lastName" type="text" placeholder="Ex. Pop" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input address">
            <mat-label>Enter your address</mat-label>
            <input matInput [(ngModel)]="registeredUser.address" name="address" type="text" placeholder="Ex. str. Example, nr. 0" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input phoneNumber">
            <mat-label>Enter your phone number</mat-label>
            <input matInput [(ngModel)]="registeredUser.phoneNumber" name="phoneNumber" type="text" placeholder="Ex. 123456789" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input zipCode">
            <mat-label>Enter your zip code</mat-label>
            <input matInput [(ngModel)]="registeredUser.zipCode" name="zipCode" type="text" placeholder="Ex. 400100" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input city">
            <mat-label>Enter your city</mat-label>
            <input matInput [(ngModel)]="registeredUser.city" name="city" type="text" placeholder="Ex. Cluj-Napoca" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input county">
            <mat-label>Enter your county</mat-label>
            <input matInput [(ngModel)]="registeredUser.county" name="county" type="text" placeholder="Ex. Cluj" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="input username">
            <mat-label>Enter your username</mat-label>
            <input matInput [(ngModel)]="registeredUser.username" name="username" type="text" placeholder="Ex. username" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [(ngModel)]="registeredUser.password" name="password" [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <button mat-button type="button" (click)="register($event)">Register</button>
        <button mat-button type="button" (click)="cancel()">Cancel</button>
    </form>
</div>